@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.blog_container {
  --max-width: 1119px;
  --padding: 1em;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  padding-top: 10em;
}

.blog_header {
  display: flex;
  gap: 2em;
}

.blog_image,
.blog_text {
  flex-basis: 100%;
}

.blog_image img {
  width: 100%;
}

.blog_text {
  padding-top: 7.5rem;
  padding-left: 5rem;
  padding-right: 9em;
}

.blog_text small {
  font-size: 0.75rem;
  font-family: "Manrope", sans-serif;
}

.blog_text h3 {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 1.3;
  font-family: "Manrope", sans-serif;
}

.blog_text p {
  font-size: 1.125rem;
  font-weight: lighter;
  padding-top: 0.3em;
  padding-bottom: 2.5em;
  font-family: "Manrope", sans-serif;
}

.blogbtn {
  font-size: 0.875rem;
  display: flex;
  column-gap: 0.9em;
  border: none;
  border-radius: 100vmax;
  padding: 0.75rem 2rem;
  background-color: #000000;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.blogbtn:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.blogbtn:hover img {
  transform: translateY(-7px);
  transition: all 0.3s ease-in-out;
}

.blogLink {
  text-decoration: none !important;
}

.latest_news_container {
  --max-width: 1119px;
  --padding: 1em;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;

  padding-block: 5em;
}

.latest_news_text {
  border-bottom: 1px solid #0000002c;
}

.latest_news_text h4 {
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Manrope", sans-serif;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(21.843rem, 100%), 1fr));
  gap: 2em;
  padding-top: 3em;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card_image {
  width: 100%;
  height: 375px;
  object-fit: cover;
  display: block;
}

.card img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.card h3 {
  padding-block: 1.9rem;
  font-size: 1.25rem;
  font-weight: lighter;
  font-family: "Manrope", sans-serif;
  padding: 1.5em;
}

.card_btn {
  margin: 1.5em 2em;
  padding: 0.55em 2.5em;
  border-radius: 100vmax;
  border: 1px solid #000000;
  background: none;
  font-size: 0.75rem;
  color: #151515 !important;
}

.card_btn:hover {
  background-image: radial-gradient(circle, #151515af, #000000, #000000);
  color: #ffffff !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card_link {
  align-self: flex-end;
}

/*================= Blog Post==================== */
.blogpost {
  --max-width: 1119px;
  --padding: 1em;
  --padding-top: 10em;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  padding-top: var(--padding-top);
}

.blog_grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(21.188rem, 100%), 1fr));
  gap: 1.5em;
}

.blog_table span {
  font-size: 0.75rem;
  font-family: "Manrope", sans-serif;
  font-weight: lighter;
  padding-bottom: 1em;
  display: inline-block;
}

.blog_table p {
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  padding-top: 1em;
  border-top: 1px solid #0000002c;
}

.blog_post_text_header {
  padding-top: 3em;
}

.blog_post_text_header h1 {
  font-size: clamp(1.5rem, 5vw, 3.85rem);
  font-family: "Manrope", sans-serif;
  font-weight: lighter;
  line-height: 1.1;

  max-width: 69.313rem;
  padding-bottom: 1em;
}

.blog_post_text {
  padding-bottom: 1.5em;
}

.blog_post_text_header p {
  padding-bottom: 2.3em;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #151515;
}

.blog_post_text_header p strong {
  font-weight: 500;
}

.blogPostBtn {
  margin-bottom: 5em;
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.55em 2.5em 0 0;
  background: transparent;
  border: none;
}

.blogPostBtn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custume_arrow {
  background: #000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
}

.custume_arrow img {
  transform: rotate(139deg);
}

@media (max-width: 50em) {
  .blog_header {
    flex-direction: column;
  }

  .blog_text {
    padding: 0;
  }

  .blog_text h3 {
    font-size: 2rem;
  }
}
